<div class="tab-pane fade active in">
    <div class="owl-carousel">
        <div><img src="Pictures/SF_small.jpg" width=50%/></div>
        <div><img src="Pictures/classy_small.jpg" width=50%/></div>
        <div><img src="Pictures/baking_cookies_small.jpg" width=50%/></div>
        <div><img src="Pictures/run4food_small.jpg" width=50%/></div>
        <div><img src="Pictures/uncle_on_shoulders_small.jpg" width=50%/></div>
    </div>
    <div ng-show="ctrl.active === 1">
        <h2>About The Author</h2>
        Michael Sawyer is a recent CSU, Chico grad who has been studying
        Computer Science with a minor in Mathematics. He has ranked in the
        97th percentile (top 3%) on a <a href="http://www.ets.org/s/mft/pdf/acdg_computer_science.pdf">
        senior exit exam</a>, and has completed an extended
        internship at Hewlett-Packard, and is currently a DevOps Engineer
        at Veeva Systems in Pleasanton, CA.
        Michael Sawyer also has experience in software defined
        networks. Open Source contributions include <a href="http://www.mixxx.org">Mixxx</a>, as well as others found on his
        <a href="https://github.com/masstamike">GitHub</a>. Resume can be found at the
        bottom of the page. Other notable projects include
        <a href="https://play.google.com/store/apps/details?id=com.bustr">
            Bustr
        </a>,
        a social media android app.
    </div>
    <div ng-show="ctrl.active === 2">
        <h2>Beer Journal</h2>
        <a href="/beer">The Beer Journal</a> is a website I am developing to keep track of
        Beer tastings. The end goal will be for users to have own personal tastings organized in a journal, but there
        could also be a collaborative effort amongst users to achieve average scores for beers. Entering data into The
        Beer Journal should be quick, as should retrieving and recalling exactly how a specific beer tasted.
    </div>
</div>