<html>
  <head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
    <script src="controllers.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body ng-app="archerApp" ng-controller="ArcherController as archer">
    <div><h1>Make sure to click the fullscreen button for the best experience. :)</h1></div>
      Episode {{archer.curVideo() + ' - ' +
      archer.video_name[archer.curVideo()-1]}}<br>
<!--    <video ng-show="archer.video === 1" width="320" height="240" controls>
      <source src="/archer/Videos/Archer.2009.S05E01.White.Elephant.720p.WEB-DL.x264.AAC.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <video ng-show="archer.video === 2" width="320" height="240" controls>
      <source src="/archer/Videos/Archer.2009.S05E02.A.Kiss.While.Dying.720p.WEB-DL.x264.AAC.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <video ng-show="archer.video === 3" width="320" height="240" controls>
      <source src="/archer/Videos/Archer.2009.S05E03.A.Debt.of.Honor.720p.WEB-DL.x264.AAC.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <video ng-show="archer.video === 4" width="320" height="240" controls>
      <source src="/archer/Videos/Archer.2009.S05E04.House.Call.720p.WEB-DL.x264.AAC.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <video ng-show="archer.video === 5" width="320" height="240" controls>
      <source src="/archer/Videos/Archer.2009.S05E05.Southbound.and.Down.720p.WEB-DL.x264.AAC.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <video ng-show="archer.video === 6" width="320" height="240" controls>
      <source src="/archer/Videos/Archer.2009.S05E06.Baby.Shower.720p.WEB-DL.x264.AAC.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>-->
    <video ng-show="archer.video === 7" width="320" height="240" controls>
      <source src="/archer/Videos/Archer.2009.S05E07.Smugglers.Blues.720p.WEB-DL.x264.AAC.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <video ng-show="archer.video === 8" width="320" height="240" controls>
      <source src="/archer/Videos/Archer.2009.S05E08.The.Rules.of.Extraction.720p.WEB-DL.x264.AAC.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <video ng-show="archer.video === 9" width="320" height="240" controls>
      <source src="/archer/Videos/Archer.2009.S05E09.On.the.Carpet.720p.WEB-DL.x264.AAC.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <video ng-show="archer.video === 10" width="320" height="240" controls>
      <source src="/archer/Videos/Archer.2009.S05E10.Palace.Intrigue.Part.1.720p.WEB-DL.x264.AAC.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <br>
    <button ng-click="archer.setVideo(1)">Episode 1</button>
    <button ng-click="archer.setVideo(2)">Episode 2</button>
    <button ng-click="archer.setVideo(3)">Episode 3</button>
    <button ng-click="archer.setVideo(4)">Episode 4</button>
    <button ng-click="archer.setVideo(5)">Episode 5</button><br><br>
    <button ng-click="archer.setVideo(6)">Episode 6</button>
    <button ng-click="archer.setVideo(7)">Episode 7</button>
    <button ng-click="archer.setVideo(8)">Episode 8</button>
    <button ng-click="archer.setVideo(9)">Episode 9</button>
    <button ng-click="archer.setVideo(10)">Episode 10</button>
  </body>
</html>
