div {
  -webkit-animation: bounce 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 2s;
  -webkit-animation-play-state: running;
  padding-top: 5%;
  padding-bottom: 0%;
  animation-iteration-count: infinite;
  animation: bounce 3s;
}

@-webkit-keyframes bounce {
  0% {padding-top: 5%;padding-bottom:0%;}
  50% {padding-top: 0%;padding-bottom:5%;}
  100% {padding-top: 5%;padding-bottom:0%;}
}

@keyframes bounce {
  0% {padding-top: 5%;padding-bottom:0%;}
  50% {padding-top: 0%;padding-bottom:5%;}
  100% {padding-top: 5%;padding-bottom:0%;}
}
